@page "/"
@inject Event.IService events

<PageTitle>Turtle Stats</PageTitle>

@if (dashboard is null)
{

    <center>
        <h1>Loading</h1>
    </center>

} else
{

    <div class="d-flex flex-column flex-xl-row border border-dark"
        style="width: 100%;">
        <div class="mb-0 d-flex flex-row flex-xl-column mx-auto mx-xl-0 p-4"
            style="max-width: 500px;">

            <img src="https://i.imgur.com/Nsq6jiX.png"
                width="80"
                class="mx-auto" />
            <h3 class="m-auto my-xl-0 mc-font px-4" style="color: green;">@dashboard.HarvestedLogs</h3>

            <div style="position: relative;"
                 class="mx-auto">

                <img src="https://i.imgur.com/JsTgcFC.gif" width="80" />
                <img src="https://i.imgur.com/Nsq6jiX.png"
                     width="50"
                     style="position: absolute;margin-left: -65px;margin-top: 5px;filter: grayscale(1);" />
                
            </div>
            <h3 class="m-auto my-xl-0 mc-font px-4" style="color: red;">@Math.Abs(dashboard.FuelConsumed)</h3>
        
        </div>
        
        @if (MostRecentTurtle is not null)
        {
            <div class="mx-auto mb-0 d-flex">
                <div class="my-0 my-xl-auto d-flex flex-column flex-xl-row site-bg-dark shadow p-3 me-0 me-xl-4" style="width: 100%;min-height: 250px;">
                    
                    <div class="my-auto site-bg-tint p-3 card d-block">

                        <div id="tree-count" class="mc-font">
                            x@(dashboard.HarvestedTrees)
                        </div>
                        <img src="https://i.imgur.com/eJS7K1t.png" width="130" class="me-4" style="float: left;" />

                        <h5><strong>Last tree</strong></h5>
                        <h4>
                            @MostRecentTurtle.LastTree.Value.ToLongDateString()
                            @@
                            <strong>@MostRecentTurtle.LastTree.Value.ToShortTimeString()</strong>
                        </h4>
                        <h6><i>Elapsed: <strong>@SinceLastTree.Value.ToString("c").Split(".")[0]</strong></i></h6>
                    
                    </div>

                    <div class="my-auto text-white p-3 ps-5">

                        <center>
                            <img src="https://i.imgur.com/Gv970bN.png" width="80" class="my-2" />
                            <h6 class="mb-0">by</h6>
                            <h3><c>Turtle @MostRecentTurtle.CCNum</c></h3>
                        </center>

                    </div>

                </div>
            </div>
        }

        <div class="mx-auto mx-xl-0 me-xl-4"
            style="height: 250px;max-width: 100%;overflow: auto;">

            <center>
                <h5 class="mt-4"><strong>Leaderboard</strong></h5>
            </center>

            <table class="table mb-0 mx-auto"
                style="max-height: 100%;overflow: auto;">
                <thead>
                    <tr>
                        <th></th>
                        <th><img src="https://i.imgur.com/Gv970bN.png" width="20" /></th>
                        <th>Gains</th>
                        <th>Losses</th>
                        <th>Net Items</th>
                        <th><img src="https://i.imgur.com/aLKfPfE.png" width="20" /> Loot</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var (turtle, i) in dashboard.TurtleLeaderboard.Select((it, i) => (it, i)))
                    {
                        <tr>
                            <td><strong>@(i + 1)</strong></td>
                            <td>@turtle.CCNum</td>
                            <td style="color: green;">@turtle.Gained</td>
                            <td style="color: red;">(@(Math.Abs(turtle.Lost)))</td>
                            <td>@turtle.NetAmount</td>
                            <td><i>@turtle.FavoriteExtra</i></td>
                        </tr>
                    }
                </tbody>
            </table>

        </div>

    </div>

}

<pre class="mt-5">@System.Text.Json.JsonSerializer.Serialize(dashboard, options: new() { WriteIndented = true })</pre>

@code {
    private Event.Dashboard dashboard;
    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();
        while (true)
        {
            try
            {
                dashboard = await events.Dashboard(null, null);
                await InvokeAsync(StateHasChanged);
            } catch (Exception)
            {
            }
            await Task.Delay(1000);
        }
    }

    private Event.TurtleLeaderboard? MostRecentTurtle => dashboard.TurtleLeaderboard
        .OrderByDescending((it) => it.LastTree)
        .Where((it) => it.LastTree is not null)
        .FirstOrDefault();
    // Do not call if MostRecentTurtle is null
    private TimeSpan? SinceLastTree => dashboard.Now - MostRecentTurtle.LastTree;
    // Do not call if HarvestedTrees is zero
    private decimal MinsPerTree => (24 * 60) / dashboard.HarvestedTrees;
}
